<div>
  <h3 class="text-success text-center pb-2">Listado de Usuarios que dieron Like al Tweet</h3>
</div>

<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
  <% if @tweet.likes.count == 0 %>
  <strong>De momento, el tweet no cuenta con likes</strong>
    <% end %>
</div>

<div class="container mx-auto mt-4 mb-4">
  <div class="row justify-content-md-center">
    <% @tweet_likes.each do |tweet| %>
      <div class="col-md-4">
        <div >
          <div class="user-image mt-3">
            <%= image_tag tweet.user.avatar, class:"mt-3 rounded-circle", style:"border: 2px solid red" %> 
          </div>
          <div class="rank-label-container">
            <span class="label label-default rank-label"><%= tweet.user.username %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<li class="nav-item mb-2 mt-4 pr-2 mr-2 btn btn-success border-dark">
    <%= link_to 'Volver a los Tweets', root_path, class:'text-white' %>
</li>